.read-more {
  a {
    font-family: $trade-gothic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;

    @include fontcustom-after($fa-var-angle-right) {
      color: palette(yellow);
      font-size: 24px;
      top: 1px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
