.st_facebook_large {
  .stLarge {
    background: transparent url(../images/facebook.png) no-repeat !important;
    width: 91px !important;
    height: 32px !important;
  }
}

.st_twitter_large {
  .stLarge {
    background: transparent url(../images/twitter.png) no-repeat !important;
    width: 81px !important;
    height: 32px !important;
  }
}

.st_email_large {
  .stLarge {
    background: transparent url(../images/email-a-friend.png) no-repeat !important;
    width: 132px !important;
    height: 32px !important;
  }
}

.st_print_large {
  .stLarge {
    background: transparent url(../images/print.png) no-repeat !important;
    width: 71px !important;
    height: 32px !important;
  }
}
